body {
    padding-top: 50px;
    background-color: rgb(221, 213, 213);
}

.nav{
    background-color: teal;
}

h1{
    font-weight: bold;
}

div #title{
    width: 600px;
}

div #description{
    height:100px;
    width:600px;
    resize: none;
}

div #number_of_bedrooms{
    width: 280px;
}

div #number_of_bathrooms{
    width: 280px;
}

div #price{
    width: 280px;
}

div #type{
    width: 280px;
    height:38px;
}

div #location{
    width: 280px;
}

div .info{
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 80px 80px 80px;
}

#card{
    margin: 8px;
    border: thick;
    border-radius: 15px 15px 15px 15px;
} 

.btn{
    width:130px;
}

.card-title{
    font-weight: bold;
}

.card-text{
    color: gray;
}

.price{
    border-radius: 5px;
    color: white;
    background-color: rgb(105, 153, 224);
}

.type{
    background-color: gold;
    border-radius: 5px;
    color: white;
}

.image{
    width: 290px;
    height:290px;
}